body{
    margin: 0;
    padding: 0;
    background-color: #191a1a;
}

#main{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
    background-image: url(../gambar/cup-of-coffee-1280537_1920.jpg);
    background-size: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;

}

nav{
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 660;
    letter-spacing: 2px;
    position: fixed;
    font-family: monospace;
    width: 100%;
    background-color: #edf1fd;
    opacity: 0.5;
    padding: 10px;
}

ul{
    list-style: none;
    display: flex;
}

a{
    padding-right: 15px;
    padding-left: 10px;
    text-decoration: none;
    font-size: 17px;
    margin: 20px;
    color: #191a1a;
    border-radius: 10px;
}

a:hover{
    color: #edf1fd;
    background-color: #000000;
    transition: all ease-in-out 0.5s;
    border-radius: 10px;
}

.halo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    width: 450px;
    top: 38%;
    padding-left: 25px;    
}

.halo p{
   font-size: 22px; 
   margin-bottom: 0;
}

.halo h1{
    font-size: 32px;
    margin-top: 0;
}